In [6]:
# # Variables
student = 'Abhishek'
print(student) # Student is the variable

Abhishek

In [12]:
## Data Types in python
a1=10
a2=1.2
a3="12"
a4=True
a5=3+4j
print(type(a1))
print(type(a2))
print(type(a3))
print(type(a4))
print(type(a5))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [ ]:
## Operators##

In [28]:
## Arithmetics Operators
# +,-,/,*,

a=10
b=20
print(a,b)
print(a+b)
print(a-b)
print(a*b)
print(a/b)

10 20
30
-10
200
0.5

In [27]:
## Relational Operators
# <,>,==,!=  # in this the != symbol means its not equals to

a=50
b=100
print(a>b )# a is greater than b
print(a<b )# a is less than b
print(a==b) # a is equals to b
print(a!=b) # a is not equals to b

False
True
False
True

In [26]:
## Logical operators
# & means and 
# | means or 

a=True
b=False

print(a & a) 
print(a & b) 
print(b & a) 
print(b & b) 
print(a | b) 
print(b | a) 
print(a | a) 
print(b | b)

True
False
False
False
True
True
True
False

In [36]:
## Python keywords - these are special reserved words
# Example- False, class,if,Or,def,del,and,not,with,return,etc
class # these are keywords which are in green colour
True = 1    # we cannot assign values or make keywords as variables.

SyntaxError: cannot assign to True (1852987998.py, line 4)

In [44]:
## Python Identifiers -These are names used for variables,functions or object
# ''' Rules
#          :- No special character expect_(underscore)
#          :- Identifier are case sensitive
#          :- First Letter cannot bee a digit  ''' 

Student= 'Abhi'
student= 'Himu'
print(Student)
print(student)

Abhi
Himu

In [45]:
##  Python Literals
#     ''':- Literals are constant in python means 
#           these are those whoes value can't be changed'''
# These are constant it can't be changed

a = " hello world"

In [46]:
# #  Python Strings
#    :-Strings are seguences of characters enclosed within single quotes(''),
#      double quotes(" ") pr triple quotes(''' ''')

In [56]:
## Extracting Individual Characters 

letter = "Hello Good morning!"
print(letter[0])
print(letter[-1])
print(letter[1::2])

H
!
el odmrig

In [79]:
# # String Function
# :- Finding length of string
print(len(letter))
#  Converting string to lower case
print(letter.lower())
#  Converting String to Upper case
print(letter.upper())
#  Converting String to replacing a substring 
print(letter.replace('o','a'))
#  Converting String to number oc occurrences of substring
print(letter.count('Hello'))
#  Finding the index of substring
print(letter.find('Good'))
#  splitting a string
fruit= "I like apple, mangoes, bananas"
print(fruit.split(','))

19
hello good morning!
HELLO GOOD MORNING!
Hella Gaad marning!
1
6
['I like apple', ' mangoes', ' bananas']

In [ ]:
## Data_Structures in Python
#     :- Tuple , List, Dictionary, Set .

In [85]:
## Tuple in Python
#     :- tuple is an ordered collection of elements enclosed within()
#     :- It is immutable you cannot modify it
#     :- Example - tup1=(1,'a,True')

tup1 = (1,True,3.14,5-7)
tup1
type(tup1)

tuple

In [88]:
## Extracting Individual Elements
print(tup1[0])
print(tup1[-1])
print(tup1[1:4])
# print(tup1[2]="this is abhi") this statement will show an error as it is immutable

1
-2
(True, 3.14, -2)

In [99]:
## Tuple Basic Operations

#  Finding Length of Tuple
print(len(tup1))

#  Concatenating Tuples
tup1=(1,2,3)
tup2=(4,5,6)
print(tup1+tup2)

# Repeating Tuple Elements
tup1 = ('sparta',300)
print(tup1*3)

# Repeating and Concatenating
tup2 = (4,5,6)
print(tup1*3 + tup2)

# Maximun Value
tup1=(1,2,3,4,5)
print(max(tup1))

# Minimum Value
print(min(tup1))

5
(1, 2, 3, 4, 5, 6)
('sparta', 300, 'sparta', 300, 'sparta', 300)
('sparta', 300, 'sparta', 300, 'sparta', 300, 4, 5, 6)
5
1

In [3]:
## lIST IN PYTHON
#     :-List is an ordered collection of elements enclosed within []
#     :-lIST ARE MUTABLE 

l1=[1,'Sparta', 3.14, True]
print(type(l1))

<class 'list'>

In [5]:
## Extracting individual elements
l1 = [1,"a",2,"b",3, "c"]
print(l1[1])
print(l1[2:5])

a
[2, 'b', 3]

In [25]:
## Modifying List

# Changing the elements at 0th index
l1 = [1,"a",2,"b",3, "c"]
l1[0]=100
print(l1)

#  Popping the last element
l1.pop()
print(l1)

#  Appending a new elements
l1.append("Abhi")
print(l1)

#  Reversing elements of a list
l1.reverse()
print(l1)

# Sorting a List
l1 = ["mango", "banana", "gauva", "apple"]
l1.sort()
print(l1)

# Inserting elements at a specific index
l1.insert(1,"himu")
print(l1)

[100, 'a', 2, 'b', 3, 'c']
[100, 'a', 2, 'b', 3]
[100, 'a', 2, 'b', 3, 'Abhi']
['Abhi', 3, 'b', 2, 'a', 100]
['apple', 'banana', 'gauva', 'mango']
['apple', 'himu', 'banana', 'gauva', 'mango']

In [22]:
## List Basic Operations

# Concatenating Lists
l1= [1,2,3]
l2= ["a","b","c"]
print(l1+l2)

# Repeating elements
l1 =[1,"a,Ture"]
print(l1 *3)

[1, 2, 3, 'a', 'b', 'c']
[1, 'a,Ture', 1, 'a,Ture', 1, 'a,Ture']

In [1]:
## Dictionary in pythons
#:- Dictionary is an unordered collection  of key-value pairs enclosed with{}
#:- Dictionary is mutable
# :- Example - fruit= {"apple":10,"orange":20} 
#           here the apple and orange are keys and 10 and 20 are values

In [28]:
fruit =  {"Apple":10,"Orange":20,"Mango":50,"Banana":25} 
print(fruit)
print(type(fruit))

{'Apple': 10, 'Orange': 20, 'Mango': 50, 'Banana': 25}
<class 'dict'>

In [29]:
# Extarcting Keys and Values
print(fruit.keys())
print(fruit.values())

dict_keys(['Apple', 'Orange', 'Mango', 'Banana'])
dict_values([10, 20, 50, 25])

In [30]:
#  Modifying a Dictionary

# Adding a new element
fruit["Guava"]=50
print(fruit)

# Changing an eexisting element
fruit["Apple"]=100
print(fruit)

{'Apple': 10, 'Orange': 20, 'Mango': 50, 'Banana': 25, 'Guava': 50}
{'Apple': 100, 'Orange': 20, 'Mango': 50, 'Banana': 25, 'Guava': 50}

In [31]:
#  Dictionary functions

# Update one dictionary's elements with another
fruit1={'Apple': 10, 'Orange': 20} 
fruit2={'Banana': 25, 'Guava': 50}
fruit1.update(fruit2)
print(fruit1)

# Popping an element
fruit =  {"Apple":10,"Orange":20,"Mango":50,"Banana":25} 
fruit.pop('Orange')
print(fruit)

{'Apple': 10, 'Orange': 20, 'Banana': 25, 'Guava': 50}
{'Apple': 10, 'Mango': 50, 'Banana': 25}

In [32]:
## Set In Python
# :-Set is an unordered and unindexed collection of eleements enclosed with{}
# :-Duplicates are not allowed in set
# :- Example - s1={1,"a",True}

In [35]:
s1={1,3.14,"abhi"}
s1

{1, 3.14, 'abhi'}

In [36]:
s1={1,3.14,"abhi",3.14,"abhi"}
s1

{1, 3.14, 'abhi'}

In [49]:
#  Basic set operations

# Update one dictionary's elemeents with another
s1= {1,"a",True,2,"b",False}
s1.add("hello")
print(s1)

# Updaating multiple elements
s1= {1,"a",True,2,"b",False}
s1.update([10,20,30,5+7j])
print(s1)

#  Removing an element
s1= {1,"a",True,2,"b",False}
s1.remove("b")
print(s1)

{False, 1, 2, 'hello', 'a', 'b'}
{False, 1, 2, 10, 20, (5+7j), 30, 'b', 'a'}
{False, 1, 2, 'a'}

In [52]:
# Set function

# Union of two sets
s1={1,2,3}
s2={"a","b","c"}
print(s1.union(s2))

# Intersection of two sets
s1={1,2,3,4,5,6,}
s2={4,5,6,7,8,9}
print(s1.intersection(s2))

{1, 2, 3, 'a', 'c', 'b'}
{4, 5, 6}