In [2]:
## If statement

#  if...else Pseudo Code
''''if(condition){
    statements to be executed....
}
else{
    statements to be executed....
}'''

In [3]:
a=10
b=20

if b>a:
    print("B is  greater than A")

B is  greater than A

In [4]:
if b<a:
    print("B is  less than A")
else:
    print("B is greater than A")

B is greater than A

In [5]:
a=10
b=20
c=30

if (a>b) & (a>c):
    print("A is the greatest")
elif (b>a) & (b>c):
    print("B is the gretest")
else:
    print("C is the gretest")

C is the gretest

In [6]:
#  if with tuple 

tup1 = ('a','b','c')

if 'z' in tup1:
    print("Value a is present in tup1")
else:
    print("Value z is not present in tup1")

Value z is not present in tup1

In [7]:
#  if with list

l1 = ['a','b','c']

if l1[1]=='b':
    l1[1]='z'
print(l1)

['a', 'z', 'c']

In [8]:
#  if with dicctionary

d1 = {'k1':10, 'k2':20,'k3':30}

if d1['k3'] == 30:
    d1['k3']=d1['k3']+100
d1

{'k1': 10, 'k2': 20, 'k3': 130}

In [9]:
# looping Statements
#     :-Looping statements are used to repeat a task multiple times
#example:-
#     1.Keep filling this bucket with a mug of water while it is not full
#     2.Keep repeating the song until you close the app!
#     3. Get your salary credited at the end of the month

In [10]:
## Whlie Loop
#  syntax:
'''  
while condition:
        Execute Statements
'''

In [11]:
i = 1
while i<=10:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

In [12]:
i=1
n=2
while i<=10:
    print(n,' * ',i,' = ', n*i)
    i = i+1

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

In [13]:
#  while with list
l1=[1,2,3,4,5]
i = 0
while i<len(l1):
    l1[i]=l1[i]+100
    i=i+1
l1

[101, 102, 103, 104, 105]

In [14]:
## For Loop 

#     :- For loop is used to iterate over a sequence(tuple,list,dictionary..)
#     :-This is the syntax of for loop
#         for val in sequence:
#                        Body of for

In [15]:
l1 = ['mango','apple','grapes','orange']
for i in l1:
    print(i)

mango
apple
grapes
orange

In [17]:
# Multiple for loop or nested for loop

l1=['orange','black','white']
l2=['chair','book','laptop']
for i in l1:
    for j in l2:
        print(i,j)

orange chair
orange book
orange laptop
black chair
black book
black laptop
white chair
white book
white laptop

In [18]:
## Function in real life
#      :- Function means doing mutiple task at a time
#  example  1.While eatig you use your hand mouth at same time
#           2.While running your hands moves, you breath and also legs moves

In [20]:
## Python Function  
#     :- Functtion is block of code which perform a specific task
#  exp:-
#       1.  While withdrawing money from Atm 
# '''For every person 1000 line of code is not run one by one to withdraw money
#  simply by clicking deposite or withdraw button the transection is done 
# this is how function works'''

In [21]:
def hello():
    print("hello world")

In [25]:
hello()

hello world

In [27]:
def add_10(x):
    return x+10
add_10(9)

19

In [28]:
 add_10(5)

15

In [35]:
def odd_even(x):
    if x%2==0:
        print(x, "is even")
    else:
        print(x, " is odd")

odd_even(5)

5  is odd

In [36]:
#  lamda function is also called anonymous function 
# because it has no name, in one you give function parameter to it.

In [38]:
g=lambda x: x*x*x
g(5)

125

In [43]:
# Lamda with filter

l1 = [87,56,90,34,2,5,7,1,7,98]
final_list=list(filter(lambda x: (x%2!=0),l1)) 
print(final_list) ## this will print all odd values in the list
#  if you want even values then simply replace '!=' with '==' in code.

[87, 5, 7, 1, 7]

In [45]:
# lambda with map

l1=[1,2,3,4,5,6,7,8]

list_final_new=list(map(lambda x: x*2,l1))
print(list_final_new)

[2, 4, 6, 8, 10, 12, 14, 16]

In [47]:
from functools import reduce
sum=reduce(lambda x,y: x+y ,l1)
print(sum)

36